button,.button-link {
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 1rem; /* Ajusta según sea necesario */
}
