.nav-container {
  background: rgba(255, 255, 255, 0.7); /* Fondo translúcido */
  display: flex;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Valor alto para que esté en la parte superior */
}
